#body {
		font-family:Arial;
		overflow:hidden;
}

#content {
		width:800px;
		border:0px solid #000000;
		border-radius:10px;
		padding:1px;
		padding-bottom:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		background:url("/static/images/sprinklerbg2.jpg");
		background-size:cover;
		background-position: right;
}

#header {
		padding-bottom:0px;
		position:relative;
		width:100%;
		height:150px;
}
		
#headerbg {
		width:100%;
		height:150px;
		border-radius:10px;
}		
		
#header h1 {
		position:absolute;
		top:-20px;
		left:50px;
		font-size:50px;
		font-family:Arial;
		color:white;
		text-shadow: 3px 3px 5px #333333;
}

#header h2 {
		position:absolute;
		top:70px;
		left:55px;
		font-size:20px;
		font-family:Arial;
		color:white;
		text-shadow: 3px 3px 5px #333333;
}

#header h3 {
		position:absolute;
		top:100px;
		left:55px;
		font-size:20px;
		font-family:Arial;
		color:white;
		text-shadow: 3px 3px 5px #333333;
}


#system_on_off {
		position:absolute;
		right:00px;
		top:00px;
}

#rightC {
		float:right;
		width:35%;
		position:relative;
}

#leftC {
		padding-top:0px;
		position:relative;
		
}
		
#settings {
		border:0px solid #aaa;
		border-radius:10px 0px 0px 10px;
		width:100%;
		font-family:Arial;
		position:relative;
		z-index: 1;
		background:white;
		margin-top:16px;
		box-shadow:2px 2px 5px #333;
}

#settings ul {list-style-type:none;}		
		
#settings #hh1 {
		text-align:center;
		margin:5px;
		font-family:Arial;
		font-size:30px;
		text-decoration:none;
}	

#logButton {
		position:relative;
		left:65px;
		width:150px;
		height:20px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background:pink;
		text-align:center;
		font:bold 15px sans-serif;
		color:white;
		text-decoration:none;
		text-shadow:1px 1px 2px #333;
		background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
}

#logButton:hover {
		background:-moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

#settings a {
		text-decoration:none;
}

.messages {
		border:1px solid  #b5e026;
		border-radius:10px 0px 0px 10px;
		/*border-bottom-right-radius:5px;
		border-top-left-radius:15px;*/
		width:100%;
		height:40px;
		float:right;
		margin-top:10px;
		text-align:center;
		font-family:Arial;
		font-size:20px;
		vertical-align: middle;
		line-height: 40px;
		background-color: #b5e026;
		color:white;
		text-shadow: 1px 1px 2px #333333;
		opacity:1;
		transition: opacity 2s linear 4s;
		background: -moz-linear-gradient(top, #b6e026 0%, #94ce04 100%);
		box-shadow:2px 2px 5px #333;
}
			
#body.loaded .messages {
		opacity:0;
}			

#general {
		border:0px solid #aaa;
		border-radius:0px 10px 10px 0px;
		width:498px;
		height:120px;
		position:relative;
		margin-top:0px;
		padding-left:10px;
		padding-top:0px;
		font-family:Arial;
		background:white;
		box-shadow:2px 2px 5px #333;
}

#general .input {
		float:left;
		top:40px;
		position:absolute;
}

.input2 input {
	left:163px;
	width:150px;
	position:absolute;
}
		
#zone1 {
		border:0px solid #aaa;
		border-radius:0px 10px 10px 0px;
		box-shadow:2px 2px 5px #333;
		width:498px;
		height:120px;
		position:relative;
		margin-top:10px;
		padding-left:10px;
		padding-top:0px;
		background:white;
}

		
#zone1 input {
		float:left;
		top:25px;
		position:absolute;
}		
		
#hh {
		font-size:30px;
		font-family:Arial;				
		float:left;
		top:5px;
		position:absolute;
}	

.on-off {
		position:absolute;
		right:0px;
		top:0px;
		float:right;
}

.on{
		background:-moz-radial-gradient(top left, ellipse cover,   #baffbd 0%, #13ff02 100%);
		width:20px;
		height:20px;
		border-radius:0px 10px 0px 10px;
		border:1px solid #11cc11;
		border-top:0px;
		border-right:0px;
		box-shadow:-1px 1px 10px #33CC33;
}

.off {
		background:-moz-radial-gradient(top left, ellipse cover, #ffb0a9 0%, #fc1e1e 100%);
		width:20px;
		height:20px;
		border-radius:0px 10px 0px 10px;
		border:1px solid #9c0000;
		border-top:0px;
		border-right:0px;
}

#system_on_off  .on, #system_on_off  .off {
		border-radius:0px 0px 0px 10px;
}

.buttonP{
		width:300px;
		height:40px;
		position:absolute;
		right:0px;
		bottom:0px;
}

.button {
		border-radius:0px;
		border-bottom-right-radius:9px;
		border-top-left-radius:15px;
		background-color:#52A3CC;
		background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
		width:120px;
		height:50px;
		position:absolute;
		right:0px;
		bottom:0px;
		text-align:center;
}
		
.button span {
		font: bold 1em/1.5em sans-serif;
		color:white;
		width:200px;
		height:40px;
		text-shadow: 1px 1px 2px #333333;
		vertical-align: middle;
		line-height: 50px; 
}		

.button:hover{
		background-color:#3081AA;
		background:-moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

.button:active{
		right:-1px;
		bottom:-1px;
}

#startButton {
		position:absolute;
		right:80px;
		bottom:0px;
		text-decoration:none;
}

#startButton a {
		text-decoration:none;
}

#stopButton {
		background:-moz-linear-gradient(top, #ff8075 0%, #8c0202 100%);
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		width:120px;
		height:50px;
		text-align:center;
		font: bold 1em/1.5em sans-serif;
		color:white;
		text-shadow: 1px 1px 2px #333333;
		vertical-align: middle;
		line-height: 50px;
		text-decoration:none;
		box-shadow:2px 2px 5px #333;
}
				
#stopButton:hover {
		background:-moz-linear-gradient(top, #ee1400 0%, #590101 100%);
		
}

#stopButton:active {
	bottom:-1px;
}

#startButton2 {
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
		width:120px;
		height:50px;
		text-align:center;
		font: bold 1em/1.5em sans-serif;
		color:white;
		text-shadow: 1px 1px 2px #333333;
		vertical-align: middle;
		line-height: 50px;
		text-decoration:none;
		box-shadow:2px 2px 5px #333;
}

#startButton2:hover {
		background:-moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
		
}

#startButton2:active {
	bottom:-1px;
}			
				
.input {
		float:left;
		position:absolute;
		top:50px;
		left:40px;
		font-family:Arial;
}

.input2 {
		float:left;
		position:absolute;
		top:80px;
		left:40px;
		font-family:Arial;
}		
		
#applyButton {
		width:100%;
		position:relative;
		margin-top:5px;
		padding-left:10px;
		padding-top:0px;
		bottom:0px;
		height:55px;
		
}	

input[type=time], input[type=number] {
	padding:5px; border:2px solid #ccc;
	border-radius: 5px;
	-moz-appearance:textfield;
}	

input[type=time]:focus, input[type=number]:focus {
		border-color:#333;
		box-shadow:0px 0px 5px #b6e026;
}

input[type=submit] {
		background:#ccc;
		background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
		cursor:pointer;
		width:120px;
		height:50px;
		border:0;
		border-radius: 0px;
		font: bold 1em/1.5em sans-serif;
		color:white;
		text-shadow: 1px 1px 2px #333333;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		position:absolute;
		bottom:0px;
		left:60px;
		box-shadow:2px 2px 5px #333;
}

input[type=submit]:hover {
		background:-moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
		cursor:pointer;
}

input[type=submit]:active {
		bottom:-1px;
}

/*input[type=number]::inner-spin-button, 
input[type=number]::outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
}*/

.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.60;
        
    }
.white_content {
        display: none;
        position: relative;
		top: -650px;
        left:-50%;
        width: 800px;
        height: 370px;
        padding: 10px;
        border: 1px solid black;
		border-radius:10px;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
	
#logClose {
		position:absolute;
		right:0px;
		top:0px;
		border-bottom-left-radius:10px;
		border-top-right-radius:8px;
		background:-moz-linear-gradient(top, #ff8075 0%, #8c0202 100%);
		width:40px;
		height:30px;
		font: bold 18px sans-serif;
		color:white;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
		text-shadow:1px 1px 3px #333;		
}	

#logClose:hover {
		background:-moz-linear-gradient(top, #ffb0a9 0%, #fc1e1e 100%);
}

#log {
		position:absolute;
		top:60px;
		left:40px;
}

#cover1 {
		width:10px;
		height:100%;
		border:1px solid white;
		background:white;
		z-index:5;
		position:absolute;
		top:0px;
		left:-moz-calc(50% + 401px);
}

#cover2 {
		width:100%;
		height:10px;
		border:1px solid white;
		background:white;
		z-index:5;
		position:absolute;
		left:0px;
		top:745px;
}