#body {font-family:Arial}

#content {
		width:800px;
		border:1px solid #000000;
		border-radius:10px;
		padding:10px;
		margin-left:auto;
		margin-right:auto
}

#header {
		padding-bottom:10px;
		position:relative;
}
		
#headerbg {
		width:100%;
		height:200px;
		border-radius:10px
}		
		
#header h1 {
		position:absolute;
		top:-20px;
		left:50px;
		font-size:60px;
		font-family:Arial;
		color:white;
		text-shadow: 3px 3px 5px #333333;}

#header h2 {
		position:absolute;
		top:125px;
		left:55px;
		font-size:30px;
		font-family:Arial;
		color:white;
		text-shadow: 3px 3px 5px #333333;}

#rightC {
		float:right;
		width:35%;
}
		
#settings {
		border:1px solid #aaa;
		border-radius:10px;
		width:100%;
		font-family:Arial;
		font-size:25px;
}

#settings ul {list-style-type:none}		
		
#settings #hh1 {
		text-align:center;
		margin:5px;
		font-family:Arial;
		font-size:30px;
		text-decoration:none;
}		

.messages {
		border:1px solid #b5e026;
		border-radius:10px;
		width:100%;
		height:100px;
		float:right;
		margin-top:10px;
		text-align:center;
		font-family:Arial;
		font-size:40px;
		vertical-align: middle;
		line-height: 50px;
		background-color:#b5e026;
		color:white;
		text-shadow: 1px 1px 2px #333333;
		opacity:1;
		transition: opacity 2s linear 4s;
}
			
#body.loaded .messages {opacity:0}			
			
#form {position:relative}

#general {
		border:1px solid #aaa;
		border-radius:10px;
		width:60%;
		height:220px;
		position:relative;
		margin-top:0px;
		padding-left:10px;
		padding-top:0px;
		font-family:Arial;
		font-size:30px;
}
		
#zone1 {
		border:1px solid #aaa;
		border-radius:10px;
		width:60%;
		height:220px;
		position:relative;
		margin-top:10px;
		padding-left:10px;
		padding-top:0px;
		font-size:30px;
}

#zone1 .input {
	float:left;
	top:70px;
	position:absolute
}

#zone1 input {
	float:left;
	top:50px;
	position:absolute
}

#hh {
		font-size:40px;
		font-family:Arial;				
		float:left;
		top:5px;
		position:absolute
}	

.on-off {
		position:absolute;
		right:10px;
		top:10px;
		float:right
}

.on{
		background-color:#33CC33;
		width:20px;
		height:20px;
		border-radius:100%;
		border:1px solid #006600
}

.off {
		background-color:red;
		width:20px;
		height:20px;
		border-radius:100%;
		border:1px solid #7A0000
}

.button {
		/*border:1px solid black;*/
		border-radius:0px;
		border-bottom-right-radius:5px;
		border-top-left-radius:15px;
		background-color:#52A3CC;
		background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
		background:-webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
		/*box-shadow: 1px 1px 3px #333333;*/
		width:200px;
		height:80px;
		position:absolute;
		right:10px;
		bottom:10px;
		text-align:center
}
		
.button span {
		font-size: 35px;
		font-family:Arial;
		color:white;
		width:200px;
		height:80px;
		text-shadow: 1px 1px 2px #333333;
		vertical-align: middle;
		line-height: 80px; 
}		

.button:active{
		right:8px;
		bottom:8px;
		box-shadow: 0px 0px 3px #333333;
}
				
#general .input {
		float:left;
		position:absolute;
		top:50px;
		left:40px;
		font-family:Arial
}

#general .input2 {
		float:left;
		position:absolute;
		top:140px;
		left:40px;
		font-family:Arial
}		

#general .input2 input {
		position:absolute;
		top:-15px;
		left:200px;
		width:205px
}	
	
#applyButton {
		width:60%;
		position:relative;
		margin-top:10px;
		padding-left:10px;
		padding-top:0px;
		height:90px;
		/*text-align:center*/
}		

input[type=textbox], input[type=number]  {
	padding:5px; border:2px solid #ccc;
	border-radius: 5px;
	width:100px;
	height:50px;
	font-size:45px;
	font-family:Arial;
	//*box-shadow: 2px 2px 3px #333333;*//
}	

input[type=textbox]:focus, input[type=number]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; 
	background:#ccc;
	background:-moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
	background:-webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
	/*border:1px solid black;*/
    cursor:pointer;
	width:200px;
	height:80px;
    border-radius: 5px;
	/*box-shadow: 3px 3px 13px #333333;*/
	font-size:30px;
	border-bottom-right-radius:5px;
	border-top-left-radius:15px;
	position:absolute;
	left:10px;
}		