<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">

    <link type="text/css" rel="stylesheet" href="/static/styles/stylesheet.css"/>
    <link type="text/css" rel="stylesheet" href="/static/styles/stylesheetGWR.css" media="only screen and (max-device-width: 320px)"/>
    <link type="text/css" rel="stylesheet" href="/static/styles/stylesheetN6.css" media="only screen and (max-device-width: 800px) and (min-device-width: 321px)"/>
    <script src="/static/scripts/jquery-2.1.1.min.js"></script>
    <script src="/static/scripts/jquery-ui.min.js"></script>
    <title>Sprinkler System</title>
</head>

<body id="body">
<div id="content">
    <div id="header">
        <div id="headerText"><span>S</span>prinkler System</div>
        <div id="settingsButton">?</div>
        <div id="nextRunTime">Next run time: <span>{{ next_run_date }}</span></div>
        {% if rain == 1 %}
            {% set plsi = 'inch' %}
        {% else %}
            {% set plsi = 'inches' %}
        {% endif %}
        {% if rain_total == 1 %}
            {% set rt_plsi = 'inch' %}
        {% else %}
            {% set rt_plsi = 'inches' %}
        {% endif %}
        <div id="rainTotals">{{ rain }} {{ plsi }} of rain today & {{ rain_total }} {{ rt_plsi }} since last run.</div>

        <div id="uptime">Uptime: <span>{{ uptime }}</span></div>
        <div id="cycles">Cycles run: <span>{{ cycle_count }}</span></div>
    </div>


    <div id="middle">

    <div id="rightC">
            <div id="settings">
                <div id="settingsLabel" class="label">Settings</div>
                <ul id="settingsText">
                    <li>Fully Automated: <span>{{ full_auto }}</span></li>
                    <li class="goAway">Days apart: <span>{{ days }}</span></li>
                    <li>Start time: <span>{{ time_to_start_display }}</span></li>
                    <li class="goAway">Zone 1 length: <span>{{ zones.0.length }}</span></li>
                    <li class="goAway">Zone 2 length: <span>{{ zones.1.length }}</span></li>
                    <li class="goAway">Zone 3 length: <span>{{ zones.2.length }}</span></li>
                </ul>
                <div id='logButton'>Log</div>


                <div id="system_on_off" class="{% if system_running %}on{% else %}off{% endif %}">
                </div>
            </div>

            <div id="messages">{{ message }}</div>

        </div>
        <div id="leftC">
            {#   --== General ==--    #}
            <div id="general">
                <div id="generalLabel" class="label">General</div>

                <div id="fullAuto2" class="input">Fully Automated?
                    <div id="toggleBG">
                        <div id="toggle"></div>
                    </div>
                </div>

                <div id="daysApart" class="input goAway">
                    <label>How many days apart: <input type="number" id="days" min="0" step="any"/></label>
                </div>
                <div id="startTime" class="input">
                    <div id="t">
                        <label>Time to start: <input type="text" id="ttime" pattern="([01]?[0-9]|2[0-3])(:[0-5][0-9]){2}" placeholder="hh:mm" /></label>
                    </div>
                    <div id="amPM">
                        <label>AM<input name="amPM" type="radio" id="tAM" value="AM"/></label>
                        <label>PM<input name="amPM" type="radio" id="tPM" value="PM" checked/></label>
                    </div>
                </div>
            </div>

            {#   --== Zone 1 ==--    #}
            <div class="zones">
                <div id="zone1Label" class="label">Zone 1</div>
                <div id='onOff0' class="on-off {% if zones.0.on %}on{% else %}off{% endif %}"></div>
                <div class="input goAway">
                    <label>Run length: <input type="number" id="zone1length"/></label>
                </div>

                <div class="manInput">
                    <label>Manual<br />Run Time: <input type="number" id="man0"/></label>
                </div>
                <div class="manButt {% if zones.0.on %}manOff{% endif %}" id="0"><span>Manual {% if zones.0.on %}
                    Off{% else %}On{% endif %}</span></div>

            </div>

            {#   --== Zone 2 ==--    #}
            <div class="zones">
                <div id="zone2Label" class="label">Zone 2</div>
                <div id='onOff1' class="on-off {% if zones.1.on %}on{% else %}off{% endif %}"></div>
                <div class="input goAway">
                    <label>Run length: <input type="number" id="zone2length"/></label>
                </div>

                <div class="manInput">
                    <label>Manual<br />Run Time: <input type="number" id="man1"/></label>
                </div>
                <div class="manButt {% if zones.1.on %}manOff{% endif %}" id="1"><span>Manual {% if zones.1.on %}
                    Off{% else %}On{% endif %}</span>
                </div>

            </div>

            {#   --== Zone 3 ==--    #}
            <div class="zones">
                <div id="zone3Label" class="label">Zone 3</div>
                <div id='onOff2' class="on-off {% if zones.2.on %}on{% else %}off{% endif %}"></div>
                <div class="input goAway">
                    <label>Run length: <input type="number" id="zone3length"/></label>
                </div>

                <div class="manInput">
                    <label>Manual<br />Run Time: <input type="number" id="man2"/></label>
                </div>
                <div class="manButt {% if zones.2.on %}manOff{% endif %}" id="2"><span>Manual {% if zones.2.on %}
                    Off{% else %}On{% endif %}</span>
                </div>

            </div>
        </div>
    </div>

    {#   --== Footer ==--    #}
    <div id="footer">
        <div id="applyButton">Apply
        </div>

        <div id="startButton">
            {% if system_running %}Stop{% else %}Start{% endif %}
        </div>
    </div>
</div>

{#   --== Log Popup ==--    #}
<div style="position: absolute; left: 50%; top: 0; width: 100%;">
    <div id="light" class="white_content">
        <div id="logLabel" class="label">Log:</div>
        <div id='log'>
            {% if log|count >= 12 %}
                {% for x in range(log|count-12,log|count) %}
                    {% if log[x] == '-=' %}
                        <div class='line'></div>
                    {% else %}
                        <p>{{ log[x] }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for x in range(0,log|count) %}
                    {% if log[x] == '-=' %}
                        <div class='line'></div>
                    {% else %}
                        <p>{{ log[x] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="logClose">X</div>
    </div>
</div>
<div id="fade" class="black_overlay"></div>
<div id="watchCover"></div>

<script>
    var fullAuto = {{ full_auto|lower }};
    var systemRunning = {{ system_running|lower }};
    {#var $settings = $('#settings');
    var $general = $('#general');

    function settingsPlacement(){
    if (215 < $(window).width() < 800) {
        var ww = $general.width() - 122;
        var ww2 = $general.width() - ww;
        ww2 = $(window).width() - ww2 - 5;
        $settings.css({width: ww2});
        $('#rightC').css({left: $general.width() + 5});

        var settingsOut = false;
        $settings.not('#logButton').click(function () {
            if (settingsOut) {
                $('#middle').animate({left: '0'}, 250);
                $('div#leftC .label').animate({left: '10px'}, 250);
            } else {
                $('#middle').animate({left: -ww}, 250);
                $('div#leftC .label').animate({left: ww + 10}, 250)
            }
            settingsOut = !settingsOut;
        });

        $('#leftC').not('.manButt').click(function () {
            $('#middle').animate({left: '0'}, 250);
            $('div#leftC .label').animate({left: '10px'}, 250)
        })
    }
    }
    settingsPlacement();
    $(window).resize(function(){settingsPlacement()});#}
</script>
<script src="/static/scripts/script.js"></script>
</body>
</html>