<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=.42, maximum-scale=.42, user-scalable=0"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheet2.css" />
<link type="text/css" rel="stylesheet" href="/static/stylesheetMobile.css" media="only screen and (max-width: 999px)" />
<script type="text/javascript">
			window.onload = function(){
				document.getElementById("body").setAttribute("class","loaded");
			}
		</script>
		
<title>Sprinkler System</title>		
</head>
<body id="body">
<div id="content">
	<div id="header">
		<!--<img id="headerbg" src="/static/images/sprinkler3.jpg">-->
		<h1>Sprinkler System</h1>
		<h2>Next run time: {{ next_run_date }}</h2>
		<h3>{{ rain }} inches of rain today.</h3>
	</div>
	
	<div id="rightC">
		<div id="settings">
			<div id="hh1">Settings</div>
			<ul>
				<li>Days apart: {{ days }}</li>
				<li>Start time: {{ time_to_start }}</li>
				<li>Zone 1 length: {{ zones.0.length }}</li>
				<li>Zone 2 length: {{ zones.1.length }}</li>
				<li>Zone 3 length: {{ zones.2.length }}</li>
			</ul>
			<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><div id='logButton'>Log</div></a>
		
		
			<div id="system_on_off">
				{% if system_running %}
					<div class="on"></div>
				{% else %}
					<div class="off"></div>
				{% endif %}
			</div>	
		</div>
	
		{% if message != '' %}
			<div class="messages">{{ message }}</div>
		{% endif %}
		
	</div>
	
	<div id="leftC">
		<div id="form">
			<form action="." method="POST">
			<div id="general">
				<div id="hh">General</div>
				<span class="input">
					How many days apart:
					<input type="number" name="text" min="0" step="any" />
				</span>
				<p />
				<span class="input2">
					Time to start:
					<input type="time" name="start" />
				</span>
			</div>
	
			{% for x in range(0,zones|count) %}
				<div id="zone1">
					<div id="hh">{{ zones[x].name }}</div> 
					<div class="on-off">
						{% if zones[x].on %}<div class="on"></div>
						{% else %}<div class="off"></div>
						{% endif %}
					</div>
					<div class="input">
						Run length: <p /> <input type="number" name="{{x}}" />
					</div>
					<div class="buttonP">
						{% if zones[x].on == true %}
							<a href="/{{x}}/off"><div class="button"><span>Turn off</span></div></a>
						{% else %}
							<a href="/{{x}}/on"><div class="button"><span>Turn on</span></div></a>
						{% endif %}	
					</div>
				</div>
			{% endfor %}
	
			<div id="applyButton">
				<input type="submit" name="my-form" value="Apply" />
		
				<div id="startButton">
					{% if system_running %}
						<a href="/stop"><div id="stopButton"><span>Stop</span></div></a>
					{% else %}
						<a href="/start"><div id="startButton2"><span>Start</span></div></a>
					{% endif %}	
				</div>
			</div>
	
			</form>
		</div>
	</div>
</div>
	
<div id="cover1"></div>
<div id="cover2"></div>
	
<div style="position: absolute; left: 50%;">
	<div id="light" class="white_content"><div id="hh">Log: </div>
		<div id='log'>
			{% if log|count >= 12 %}
				{% for x in range(log|count-12,log|count) %}
					{% if log[x] == '-=' %}
						<div class='line'></div>
					{% else %}
						<p>{{  log[x] }}</p>
					{% endif %}
				{% endfor %}
			{% else %}
				{% for x in range(0,log|count) %}
					{% if log[x] == '-=' %}
						<div class='line'></div>
					{% else %}
						<p>{{  log[x] }}</p>
					{% endif %}
				{% endfor %}
			{% endif %}	
		</div>
		<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><div id="logClose">X</div></a>
	</div>
</div>
<div id="fade" class="black_overlay"></div>

</body>
</html>