@font-face {
    font-family: 'gasaltblack';
    src: url('/static/fonts/gasalt-black-webfont.eot');
    src: url('/static/fonts/gasalt-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/gasalt-black-webfont.woff2') format('woff2'),
         url('/static/fonts/gasalt-black-webfont.woff') format('woff'),
         url('/static/fonts/gasalt-black-webfont.ttf') format('truetype'),
         url('/static/fonts/gasalt-black-webfont.svg#gasaltblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{margin:0, padding:0}

body {
    font-family: "gasaltblack", sans-serif;
    overflow: hidden;
    background-color: #f0fff0;
}

#content {
    width: 800px;
    border: 0 solid #000000;
    border-radius: 10px;
    padding: 1px 1px 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-size: cover;
    background: url("/static/images/sprinklerbg2.jpg") green right;
    box-shadow: 4px 4px 10px #222;
}

#header {
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 150px;
    color: white;
    text-shadow: 1px 1px 2px #333333;
}

#logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
}

#headerText {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 75px;
    text-shadow: 3px 3px 5px #333333;
}

#nextRunTime {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 25px;
}

#rainTotals {
    position: absolute;
    top: 115px;
    left: 20px;
    font-size: 25px;
}

#uptime {
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 25px;
}

#cycles {
    position: absolute;
    top: 115px;
    right: 20px;
    font-size: 25px;
}

#system_on_off {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 10px;
    width: 20px;
    height: 20px;
    border-top: 0;
    border-right: 0;
}

#rightC {
    float: right;
    width: 35%;
    position: relative;
}

#leftC {
    padding-top: 0;
    position: relative;
    width: 65%;

}

#settings {
    border: 0 solid #aaa;
    border-radius: 10px 0 0 10px;
    width: 100%;
    position: relative;
    z-index: 1;
    background: white;
    margin-top: 0;
    box-shadow: 2px 2px 5px #333;
    font-size: 20px;
    padding-bottom: 15px;
}

#settings ul {
    list-style-type: none;
}

#settings span {
    color: #93b81a;
}

#logButton {
    position: absolute;
    left: 65px;
    bottom: 0;
    width: 150px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: pink;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px #333;
    background: -moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
    cursor: pointer;
    margin-top: 5px;
}

#logButton:hover {
    background: -moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
    background: -webkit-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

#logButton:active {
    height: 19px;
}

#settings a {
    text-decoration: none;
}

#messages {
    border: 1px solid #b5e026;
    border-radius: 10px 0 0 10px;
    width: 100%;
    float: right;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 25px;
    background-color: #b5e026;
    color: white;
    text-shadow: 1px 1px 2px #333333;
    background: -moz-linear-gradient(top, #b6e026 0%, #94ce04 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%, #94ce04 100%);
    box-shadow: 2px 2px 5px #333;
    padding-top: 7px;
    padding-bottom: 7px;
    display: none;
}

#general {
    border: 0 solid #aaa;
    border-radius: 0 10px 10px 0;
    width: 510px;
    position: relative;
    background: white;
    box-shadow: 2px 2px 5px #333;
    padding-bottom: 5px;
    line-height: 35px;
}

#general .input {
    position: relative;
    left:40px;
    font-size: 20px;
}

#daysApart input{
    left: 13px;
    width: 140px;
    position: relative;
}

#startTime #ttime {
    left: 80px;
    width: 140px;
    position: relative;
}

#startTime #t {
    display: inline-block;
    width: 345px;
}

#startTime #amPM {
    display: inline-block;
    left: 200px;
}

#toggleBG{
    width:40px;
    height:15px;
    border-radius: 7px;
    /*border: 1px solid black;*/
    background-color: #b6e026;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 46px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

#toggle {
    width:10px;
    height:10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    position: relative;
    top: 2px;
    left: 28px;
    z-index: 3;
}

.zones {
    border: 0 solid #aaa;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 5px #333;
    width: 510px;
    height: 120px;
    position: relative;
    margin-top: 10px;
    padding-top: 0;
    background: white;
    font-size: 20px;
    line-height: 20px;
}

.zones input {
    width: 120px;
    top: 10px;
    position: relative;
    display: block;
}

.zones .input {
    bottom: 20px;
    left: 40px;
    position: absolute;
    display: inline-block;
}

.zones .manInput {
    left: 223px;
    bottom: 20px;
    position: absolute;
    display: inline-block;
}

.manSection{
    position: relative;
    right:0;
    bottom: 0;
}

.label {
    font-size: 35px;
    top: 12px;
    left:10px;
    position: relative;
}

#general .label {
    top: 2px;
}

.on-off {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 0 10px 0 10px;
}

.on {
    background: -moz-radial-gradient(top left, ellipse cover, #baffbd 0%, #13ff02 100%);
    background: -webkit-radial-gradient(top left, ellipse cover, #baffbd 0%, #13ff02 100%);
    border: 1px solid #11cc11;
    box-shadow: -1px 1px 10px #33CC33;
    border-top-width: 0;
    border-right-width: 0;
}

.off {
    background: -moz-radial-gradient(top left, ellipse cover, #ffb0a9 0%, #fc1e1e 100%);
    background: -webkit-radial-gradient(top left, ellipse cover, #ffb0a9 0%, #fc1e1e 100%);
    border: 1px solid #9c0000;
    border-top-width: 0;
    border-right-width: 0;
}

.manButt {
    width: 120px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 15px 0 9px 0;
    background-color: #b6e026;
    background: -moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
    text-align: center;
    cursor: pointer;
}

.manButt.manOff {
    background: -moz-linear-gradient(top, #ff8075 0%, #8c0202 100%);
    background: -webkit-linear-gradient(top, #ff8075 0%, #8c0202 100%);
}

.manButt.manOff:hover {
    background: -moz-linear-gradient(top, #ee1400 0%, #590101 100%);
    background: -webkit-linear-gradient(top, #ee1400 0%, #590101 100%);
}

.manButt span {
    color: white;
    width: 200px;
    height: 40px;
    text-shadow: 1px 1px 2px #333333;
    vertical-align: middle;
    line-height: 50px;
    font-size: 23px;
}

.manButt:hover {
    background-color: #3081AA;
    background: -moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
    background: -webkit-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

.manButt:active {
    width:118px;
    height:48px;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.25);
}

#footer {
    font-size: 25px;
    position: relative;
    width: 100%;
    height: 60px;
}

#startButton {
    position: absolute;
    right: 80px;
    bottom: 0;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #333333;
    vertical-align: middle;
    line-height: 50px;
    box-shadow: 2px 2px 5px #333;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: -moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
    cursor: pointer;
}

#startButton:hover {
    background: -moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
    background: -webkit-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

#startButton:active {
    height: 49px;
}

.stopButton {
    background: -moz-linear-gradient(top, #ff8075 0%, #8c0202 100%) !important;
    background: -webkit-linear-gradient(top, #ff8075 0%, #8c0202 100%) !important;
}

.stopButton:hover {
    background: -moz-linear-gradient(top, #ee1400 0%, #590101 100%) !important;
    background: -webkit-linear-gradient(top, #ee1400 0%, #590101 100%) !important;
}

#applyButton {
    position: absolute;
    background: #ccc;
    background: -moz-linear-gradient(top, #b6e026 0%, #89b505 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%, #89b505 100%);
    cursor: pointer;
    width: 120px;
    height: 50px;
    color: white;
    text-shadow: 1px 1px 2px #333333;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    left: 80px;
    box-shadow: 2px 2px 5px #333;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
}

#applyButton:hover{
    background: -moz-linear-gradient(top, #93b81a 0%, #6d9004 100%);
    background: -webkit-linear-gradient(top, #93b81a 0%, #6d9004 100%);
}

#applyButton:active{
    height: 49px;
}

input[type=time], input[type=number] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    -moz-appearance: textfield;
}

input[type=time]:focus, input[type=number]:focus {
    border-color: #333;
    box-shadow: 0 0 5px #b6e026;
}

/*input[type=number]::inner-spin-button, 
input[type=number]::outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
}*/

.black_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1001;
}

.white_content {
    display: none;
    position: relative;
    top: -650px;
    left: -50%;
    width: 800px;
    height: 530px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

#logClose {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;
    background: -moz-linear-gradient(top, #ff8075 0%, #8c0202 100%);
    background: -webkit-linear-gradient(top, #ff8075 0%, #8c0202 100%);
    width: 40px;
    height: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    text-shadow: 1px 1px 3px #333;
    cursor: pointer;
}

#logClose:hover {
    background: -moz-linear-gradient(top, #ffb0a9 0%, #fc1e1e 100%);
    background: -webkit-linear-gradient(top, #ffb0a9 0%, #fc1e1e 100%);
}

#log {
    position: absolute;
    top: 60px;
    left: 40px;
}

.line {
    width: 700px;
    height: 1px;
    background: black;
}


