body {
    overflow: hidden;
}

#content {
    width:400px;
    left: 5px;
    top:5px;
    margin: 0;
    position: absolute;
}

#header {
    height: 100px;
}

#headerText {
    font-size: 40px;
    top: 0;
    left: 5px;
}

#nextRunTime, #rainTotals, #uptime, #cycles {
    font-size: 20px;
}

#nextRunTime {
    top: 35px;
}

#rainTotals {
    top: 50px;
}

#uptime {
    top: 65px;
    left: 20px;
}

#cycles {
    top: 80px;
    left: 20px;
}

#settings {
    width: 96%;
    position: absolute;
    right: 0;
}

#settingsText {
    padding-left: 5px;
}

#settingsText li {
    padding-bottom: 5px;
}

#logButton {
    width: 120px;
    left: 10px;
}

#general{
    width:100%;
    line-height: 25px;
}

.zones {
     width:100%;
     line-height: 20px;
 }

#general .input {
    left: 10px;
}

#general input {
    width: 45px;
}

#fullAuto2 {
    padding-top: 5px;
}

#startTime #ttime {
    width: 45px;
}

#startTime #amPM {
    display: block;
    left: 147px;
    position: relative;
}

#amPM input {
    width:15px;
}

.label {
    font-size: 28px;
    top: 5px;
}

.zones {
    margin-top: 5px;
}

.zones .input {
    left: 10px;
}

.zones input {
    width: 65px;
}

.zones label {
    line-height: 20px;
}

.zones .manInput {
    left: 100px;
    width: 100px;
}

.manButt {
    width: 70px;
    height: 50px;
}

.manButt:active {
    width:68px;
    height:48px;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.25);
}

.manButt span {
    line-height: 0;
    top: 7px;
    position: relative;
}

#footer {
    height: 45px;
}

#applyButton {
    left: 40px;
    height: 40px;
    line-height: 40px;
}

#applyButton:active{
    height: 39px;
}

#startButton {
    right: 40px;
    height: 40px;
    line-height: 40px;
}

#startButton:active{
    height: 39px;
}

.white_content {
    top: 20px;
    left:-49.75%;
    width: 380px;
    height: 530px;
}