body {
    overflow: hidden;
}

#content {
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    margin: 0;
    position: absolute;
    border-radius: 0;
    overflow: hidden;
}

#header {
    height: 100px;
}

#headerText {
    font-size: 40px;
    top: 0;
    left: 5px;
}

#settingsButton {
    display: block;
    font-size: 40px;
    right: 5px;
    position: absolute;
}

#warped {
    display: none;
}

#nextRunTime, #rainTotals, #uptime, #cycles {
    font-size: 20px;
}

#nextRunTime {
    top: 35px;
}

#rainTotals {
    top: 50px;
}

#uptime {
    top: 65px;
    left: 20px;
}

#cycles {
    top: 80px;
    left: 20px;
}

#middle {
    width: 100%;
    position: absolute;
}

#leftC {
    width: 100%;
    display: inline-block;
}

#rightC {
    float: none;
    display: inline-block;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

#settings {
    width: 98%;
    position: absolute;
    cursor: pointer;
    min-height: 196px;
    display: none;
    left: 2px;
    border-radius: 10px;
    z-index: 1002;
}

#system_on_off {
    border-radius: 0 10px 0 10px;
}

#settingsLabel {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: -22px;
    top: 93px;
}

#settingsText {
    padding-left: 50px;
}

#settingsText li {
    padding-bottom: 5px;
}

#logButton {
    width: 80%;
    left: 10%;
    z-index: 1004;
}

#general{
    width:98%;
    line-height: 25px;
    left:2px;
    border-radius: 10px;
}

.zones {
     width:98%;
     line-height: 20px;
    left:2px;
    border-radius: 10px;
 }

#general .input {
    left: 10px;
}

#general input {
    width: 65px;
}

#fullAuto2 {
    padding-top: 5px;
}

#startTime #t {
    vertical-align: top;
    width: auto;
}

#startTime #ttime {
    width: 65px;
}

#startTime #amPM {
    left: 100px;
    position: relative;
    line-height: 10px;
}

#amPM input {
    width:15px;
}

.label {
    font-size: 28px;
    top: 5px;
}

.zones {
    margin-top: 5px;
}

.zones .input {
    left: 10px;
}

.zones input {
    width: 100px;
}

.zones label {
    line-height: 20px;
}

.zones .manInput {
    left: 136px;
    width: 100px;
}

.manButt {
    width: 110px;
    height: 50px;
}

.manButt:active {
    width:68px;
    height:48px;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.25);
}

.manButt span {
    line-height: 0;
    top: 7px;
    position: relative;
}

#footer {
    height: 45px;
    position: fixed;
    bottom: 0;
}

#applyButton {
    left: 40px;
    height: 40px;
    line-height: 40px;
}

#applyButton:active{
    height: 39px;
}

#startButton {
    right: 40px;
    height: 40px;
    line-height: 40px;
}

#startButton:active{
    height: 39px;
}

.white_content {
    top: 20px;
    left:-49.75%;
    width: 94%;
    height: 530px;
}